html, body, #__nuxt {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  color: #222;
}
p {
  font-size: 16px;
}
